footer {
  width: 100%;
  min-height: 30rem;
  background-color: $azul;
  margin-top: 10rem;
  border-top: 6px solid $celeste;

  .footer-cards {
    @include grid(4, $separacion / 2);
    color: $gris;
    margin-top: 3rem;

    h4 {
      text-transform: uppercase;
      position: relative;
      font-size: 1.6rem;
      margin-bottom: 5rem;
      &::before {
        content: "";
        position: absolute;
        bottom: -1.5rem;
        left: 0;
        width: 9rem;
        height: 2px;
        background-color: $gris;
      }
    }
    p a {
      color: $gris;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        color: $gris-light;
      }
    }
    .fab {
      font-size: 2.5rem;
      line-height: 6rem;
      text-align: center;
      width: 6rem;
      height: 6rem;
      color: $gris-light;
      transition: 0.5s;
      &:hover {
        border-radius: 50%;
      }
    }
    .fa-facebook-f {
      background-color: #3b5998;
    }
    .fa-instagram-square {
      background-color: #c32aa3;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 12rem;
      .item-addres {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        i {
          margin-right: 1rem;
          color: $gris;
          font-size: 1.6rem;
        }
        p {
          margin: 0;
          color: $gris;
          cursor: pointer;
          transition: 0.5s;
          &:hover {
            color: $gris-light;
          }
        }
      }
    }

    @include tablet {
      @include grid(2, $separacion / 2);
    }

    @include telefono {
      @include grid(1, 0);
    }
  }
}

.final {
  width: 100%;
  min-height: 6rem;
  background-color: $gris-dark;
  .elements {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // height: 6rem;

    p {
      color: $gris-light;
      font-size: 1.6rem;
    }
  }
}
