.hero {
  // width: 100%;
  height: 40rem;
  background-color: lawngreen;
  margin-top: 5rem;
  position: relative;
  .hero-image {
    height: 100%;
    background: url(../img/hero-image.png) center center/cover no-repeat;
  }

  .hero-text {
    position: absolute;
    background-color: $azul;
    bottom: -57.5px;
    left: calc(50% - 17rem);
    color: $blanco;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: $bold;
    width: 34rem;
    height: 11.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet {
      font-size: 1.5rem;
      width: 28rem;
      height: 8rem;
      left: calc(50% - 14rem);
      bottom: -40px;
    }
    @include telefono {
      font-size: 1.2rem;
      width: 22rem;
      height: 8rem;
      left: calc(50% - 11rem);
      bottom: -40px;
    }
  }
}
